 <!-- Agenda Section -->
<section id="agenda">
	<div class="container">
		<div class="row">
		<div class="col-lg-12 text-center">
		<h2><i class="fa fa-3 fa-calendar-o" aria-hidden="true"></i> Agenda</h2>
		<hr>
		</div>
	</div>

<div class="row">

<table cellspacing=0 cellpaddind=0 border=1 align="center" border="solid" width="100%" >
	<thead>
		<tr >
			<th>Sala / Horário</th>
			<th>Sala Itália</th>
			<th>Sala EUA</th>
			<th>Sala Costa Rica</th>
		</tr>
	</thead>
	
	<tbody>               
		<tr>
			<td align="center">09:00 às 09:20</td>
			<td align="center" colspan="3">
				<b>Abertura do Evento</b> 
			</td>         
		</tr>
		
		<tr>
			<td align="center" class="spacer" colspan="4">&nbsp;</td>
		</tr>  
		
		<tr>
			<td align="center">09:20 às 09:30</td>
			<td align="center" colspan="3">Pausa<br/>(10 mins)</td>         
		</tr>

		<tr>
			<td align="center" class="spacer" colspan="4">&nbsp;</td>
		</tr>  

		<tr>    
			<td></td>     
			<td align="center"><b>Cloud Computing</b></td>
			<td align="center"><b>API Integration</b></td>
			<td align="center"><b>Mobile Development</b></td>
		</tr>   

		<tr>
			<td align="center">09:30 às 10:15</td>
			
			<td align="center">
				<b>COSMOS DB: DocumentDB API Deep Dive</b>
				<br/>Palestrante: Antonio Moreno 
				<br/>Moderador: Carlos Mattos
			</td>
			<td align="center">
				<b>Modelando REST: Swagger e RAML</b>
				<br/>Palestrante: Bruno Giannella de Melo
				<br/>Moderador: José Carlos Monteiro De Oliveira Junior
			</td>
			<td align="center">
				<b>iOS: Conhecimento básico e curva de aprendizado<br/>
					na carreira como Apple Dev + API e<br/>
					Sample App em Swift</b>
				<br/>Palestrante: Piero Genovese
				<br/>Moderador: Vinicus Dias
			</td>
		</tr>
		
		<tr>
			<td align="center" class="spacer" colspan="4">&nbsp;</td>
		</tr>  
		
		<tr>
			<td align="center">10:15 às 10:30</td>
			<td align="center" colspan="3">Pausa<br/>(15 mins)</td>         
		</tr>
		
		<tr>
			<td align="center" class="spacer" colspan="4">&nbsp;</td>
		</tr>  
		
		<tr>
			<td align="center">10:30 às 11:15</td>
			<td align="center">
				<b>Iniciando AWS com Powershell - DevOps</b>
				<br/>Palestrante: Bruno Rodrigues Savani
				<br/>Moderador: Antonio Moreno
			</td>
			<td align="center">
				<b>Construindo uma API com ESB e API Management</b>
				<br/>Palestrante: Rafael Manzoni
				<br/>Moderador: Bruno Silva Bornia
			</td>
			<td align="center">
				<b>Android: Instant Apps<br/>(Apps Web based sem necessidade<br/>de instalação do App completo)</b>
				<br/>Palestrante: Cassio Imamura
				<br/>Moderador:  Danilo Bessornia
			</td>
		</tr>   

		<tr>
			<td align="center" class="spacer" colspan="4">&nbsp;</td>
		</tr>  
		
		<tr>
			<td align="center">11:15 às 11:30</td>
			<td align="center" colspan="3">Pausa<br/>(15 mins)</td>         
		</tr>	
		
		<tr>
			<td align="center" class="spacer" colspan="4">&nbsp;</td>
		</tr>  		
		
		<tr>
			<td align="center">11:30 às 12:15</td>
			<td align="center">
				<b>Usos inovadores de API para transformação digital</b>
				<br/>Palestrante: Leonardo Azevedo
				<br/>Moderador:  João Silva Jr
			</td>
			<td align="center">
				<b>API Testing: O mundo mágico do REST Testing</b>
				<br/>Palestrante: Robson Agapito Correa
				<br/>Moderador: André Miranda
			</td>
			<td align="center">
				<b>Web/Híbrido - Progressive Web Apps</b>
				<br/>Palestrante: Bruno Gianella
				<br/>Moderador: André Duarte
			</td>
		</tr> 
		
		<tr>
			<td align="center" class="spacer" colspan="4">&nbsp;</td>   
		</tr>

		<tr>
			<td align="center">12:15 às 12:30</td>
			<td align="center" colspan="3"><b>Encerramento / Sorteio de Brindes</b><br/>(15 mins)</td>         
		</tr>	 
	</tbody>
</table>

</div>
</div>

</section>
