 <!-- Agenda Section -->
    <section id="agenda">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2><i class="fa fa-3 fa-calendar-o" aria-hidden="true"></i> Agenda</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                    <table cellspacing=0 cellpaddind=0 border=1 align="center" border="solid" width="100%" >
			   <thead>
			      <tr >
				 <th>Sala / Horário</th>
				 <th>Sala Itália</th>
				 <th>Espaço Descompressão</th>
				 <th>Sala Brasil</th>
				 <th>Sala México</th>
			      </tr>
			   </thead>
			   <tbody>      
			      <tr>
				 <td align="center">8:00 às 08:30</td>
				 <td align="center" colspan="4">Recepção</td>         
			      </tr>            
			      <tr>
				 <td align="center">08:30 às 09:00</td>
				 <td align="center" colspan="4">
						<b>Keynote: Abertura do Evento </b> 
						<br/>(Carlos Mattos)
					 </td>         
			      </tr>     
			      <tr>
				 <td align="center" class="spacer" colspan="5">&nbsp;</td>   
			      </tr>
			      <tr>
				 <td align="center">09:00 às 10:20</td>
				 <td align="center" colspan="4"><b>Keynote: NoSQL, BigData & Analytics</b>
					 <br/>
						( Bruno Tinoco / André Duarte / Fernando Forenza )
					 </td>         
			      </tr>      
				  <tr>
				 <td align="center" class="spacer" colspan="5">&nbsp;</td>   
			      </tr>  
			      <tr>
				 <td align="center">10:20 às 10:30</td>
				 <td align="center" colspan="4">Pausa (10 mins)</td>         
			      </tr>
				  <tr>
				 <td align="center" class="spacer" colspan="5">&nbsp;</td>   
			      </tr>  
			      <tr>
				 <td align="center">10:30 às 12:00</td>
				 <td align="center" colspan="4"><b>Keynote: DevOps, ALM, SDLC, CI & CD</b>
						<br/>
				( Diego Cardoso / Luis Trochmann / Leonardo Morales / Jordan Santos )
		</td>         
      </tr>      
	<tr>
         <td align="center" class="spacer" colspan="5">&nbsp;</td>   
      </tr>  
      <tr>
         <td align="center">12:00 às 13:15</td>
         <td align="center" colspan="4">Intervalo para Lanche</td>         
      </tr>
      <tr>
         <td align="center" class="spacer" colspan="5">&nbsp;</td>   
      </tr>      
      <tr>    
         <td></td>     
         <td align="center"><b>DevOps</b></td>
         <td align="center"><b>BigData & Analytics</b></td>
         <td align="center"><b>NoSQL</b></td>
         <td align="center"><b>CI & CD</b></td>
      </tr>      
      <tr>
         <td align="center">13:30 às 15:00</td>
         <td align="center">
            <b>Xamarin e Mobile DevOps</b>
			<br/>Palestrante: Diego Cardoso
			<br/>Moderador: Antonio Moreno
		 </td>
		<td align="center">
            <b>Escolha de Ferramentas - projetos Bigdata</b>
			<br/>Palestrante: Fernando Forenza
			<br/>Moderador: Andrew Albuquerque
		 </td>
		<td align="center">
            <b>Cassandra com NoSQL</b>
			<br/>Palestrante: Bruno Tinoco
			<br/>Moderador: Leonel Gayard
		 </td>
 		<td align="center">
            <b>Continuous Delivery</b>
			<br/>Palestrante: Leonardo Morales
			<br/>Moderador: Thiago Tota
		 </td>
      </tr>   
      <tr>
         <td align="center" class="spacer" colspan="5">&nbsp;</td>   
      </tr> 
		<tr>
         <td align="center">15:00 às 16:30</td>
         <td align="center">
            <b>Aplicando DevOps com CHEF</b>
			<br/>Palestrante: Pedro Castelo Branco
			<br/>Moderador: Luis Trochmann
		 </td>
         <td align="center">
            <b>Modelagem BigData vs BI-Relacional</b>
			<br/>Palestrante: Fernando Forenza
			<br/>Moderador: João Carlos Junior
		 </td>
         <td align="center">
            <b>Ecossistema ElasticSearch</b>
			<br/>Palestrante: Joel Santos
			<br/>Moderador: Thiago Tota
		 </td>
         <td align="center">
            <b>Modelo de maturidade em Continuous Delivery</b>
			<br/>Palestrante: Thiago Cruz
			<br/>Moderador: Helio Corrêa
		 </td>
      </tr>      
	  <tr>
         <td align="center" class="spacer" colspan="5">&nbsp;</td>   
      </tr>
      <tr>
         <td align="center">16:30 às 16:45</td>
         <td align="center" colspan="4">Pausa (15 mins)</td>         
      </tr>
      <tr>
         <td align="center" class="spacer" colspan="5">&nbsp;</td>   
      </tr> 
      <tr>
         <td/>
         <td align="center" colspan="4"><b>Ask The Experts</b></td>         
      </tr>
      <tr>         
		 <td align="center">16:45 às 17:45</td>
         <td align="center"><b>DevOps & SDLC & ALM</b><br/> (Diego Cardoso / Luis Trochmann / Pedro Castelo Branco)</td>
         <td align="center"><b>BigData & Analytics</b><br/> (Fernando Forenza / Andrew Albuquerque / João Carlos Junior / André Duarte) </td>
         <td align="center"><b>NoSQL & ElasticSearch</b><br/> (Bruno Tinoco / Leonel Gayard / Joel Santos / Thiago Tota)</td>
         <td align="center"><b>CI & CD</b><br/> (Leonardo Morales / Thiago Cruz / Jordan Herbert Santos) </td>
      </tr>      
	  <tr>
         <td align="center" class="spacer" colspan="5">&nbsp;</td>   
      </tr>
      <tr>
         <td align="center">17:45</td>
         <td align="center" colspan="4">Encerramento / Sorteio de Brindes</td>         
      </tr>	 
   </tbody>
</table>
            </div>
        </div>
    </section>
