
    <!-- Portfolio Grid Section -->
    <section class="success" id="evento">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2><i class="fa fa-4 fa-users" aria-hidden="true"></i> O evento</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>
                        DevOps, ALM, SDLC, Continuous Integration, Continous Delivery, NoSQL e BigData & Analytics são conceitos amplamente utilizados por desenvolvedores e profissionais de TI, e facilmente confundidos pelos mesmos. 
                        Com o intuito de promover o entendimento de tais conceitos, a GFT promoverá o Technology Workshop, um dia inteiro de palestras, demonstrações, práticas, sessões de perguntas e respostas e apresentações de casos reais de projetos executados pelos nossos times. 
                    </p>
                    <p>
                        Todo conteúdo será apresentado por nossos engenheiros e arquitetos com experiência profissional nos temas em questão.
                        O evento acontecerá na nossa filial de Alphaville, mas também será transmitido simultaneamente através do Skype for Business para aqueles colaboradores que não puderem atender presencialmente. As sessões ainda serão gravadas e poderão ser acessadas a qualquer tempo por qualquer colaborador da GFT.
                    </p>
                    
                    <p>
                        <br/>
                        <b>Veja todo o conteúdo das Palestras e Keynotes:</b>
                        <br/>
                        - <a href="bit.ly/gft-workshop-material" target="_blank">Apresentaçãoes (pptx e mp4)</a>                        
                    </p>
                    <p>
                        <br/>
                        <b>Demonstrações Práticas no GitHub:</b>
                        <br/>
                        - <a href="https://github.com/gft-technical-practices/Elasticsearch.client" target="_blank">Ecossistema ElasticSearch por Joel Santos</a>
                        <br/>
                        - <a href="https://github.com/gft-technical-practices/chef_adventure_works" target="_blank">Aplicando DevOps com CHEF por Pedro Castelo Branco</a>
                        <br/>
                        - <a href="https://github.com/gft-technical-practices/xamarin-mobile-devops" target="_blank">Xamarin e Mobile DevOps por Diego Cardoso</a>
                        
                    </p>
                </div>
            </div>
        </div>
    </section>
