
    <!-- Portfolio Grid Section -->
    <section class="success" id="evento">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2><i class="fa fa-4 fa-users" aria-hidden="true"></i> O evento</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>
                        DevOps, ALM, SDLC, Continuous Integration, Continous Delivery, NoSQL e BigData & Analytics são conceitos amplamente utilizados por desenvolvedores e profissionais de TI, e facilmente confudidos pelos mesmos. 
                        Com o intuito de promover o entendimento de tais conceitos, a GFT promoverá o Technology Workshop, um dia inteiro de palestras, demonstrações, práticas, sessões de perguntas e respostas e apresentações de casos reais de projetos executados pelos nossos times. 
                    </p>
                    <p>
                        Todo conteúdo será apresentado por nossos engenheiros e arquitetos com experiência profissional nos temas em questão.
                        O evento acontecerá na nossa filial de Alphaville, mas também será transmitido simultaneamente através do Skype for Business para aqueles colaboradores que não puderem atender presencialmente. As sessões ainda serão gravadas e poderão ser acessadas a qualquer tempo por qualquer colaborador da GFT.
                    </p>
                </div>
            </div>
        </div>
    </section>
